[Unit]
Description=<service name>
After=network.target

[Service]
Type=forking
ExecStart=<path to start script>
ExecStop=<path to stop script>
User=<user that will run the service>
Restart=always
RestartSec=10
TimeoutSec=600

[Install]
WantedBy=multi.user.target
